<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>Pesquisar Usuarios</title>
</head>
<body>
    <div class="container">
        <form action="/user" method="GET">
            <label>Pesquiar usuario</label><br>
            <input type="text" name="name"><br><br>
            <button type="submit">pesquisar</button>
            <button> <a href="/savedUser">Usuarios salvos</a></button>
        </form>

    </div>
   
</body>
</html>